Source: mdns-systemd-resolved
Section: unknown
Priority: optional
Maintainer: Khurshid Alam <khurshid.alam@ed25519.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/mdns-systemd-resolved
#Vcs-Git: https://salsa.debian.org/debian/mdns-systemd-resolved.git

Package: mdns-systemd-resolved
Architecture: any
Depends: systemd, network-manager, libnss-systemd, ${shlibs:Depends}, ${misc:Depends}
Description: mdns multicast dns on local network with systemd-resolved
 This is a small package to install necessary files to enable & broadcast mdns multicast dns on local network with systemd-resolved (>=244) & Networkmanager (>=1.22) without avahi. 
